secret_key = "secret"
algorithm = "HS256"
URl_Database = "postgresql://order_login:123456789@db:5432/order_management"

POSTGRES_PASSWORD=123456789
POSTGRES_USER=order_login
POSTGRES_DB=order_management